.material-icons-dialog .ui-menu .ui-menu-item {
  list-style: none;
}
.material-icons-dialog .ui-menu .ui-state-focus,
.material-icons-dialog .ui-menu .ui-state-active {
  margin: 0;
}
.material-icons-dialog .ui-menu .ui-menu-item-wrapper {
  padding: 0;
}
.material-icons-dialog .mi-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  font-size: 24px;
  padding: 2px 4px;
}
.material-icons-dialog .mi-result span {
  font-weight: bold;
  padding-left: 10px;
}
